div {
    max-width: 500px;
}

.panel-body > div {
    float: right;
}

.panel-body img {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.recipe {
    float: left;
    margin: 10px 0;
}
@media(min-width: 800px) {
    .recipe {
        width: 500px;
        margin: 10px 10px;
    }
}
